<%- include('partials/header') %>

  <section class="secretBox">
    <div class="secretsHeader">
      <h2>Welcome, <%= user.name %>
      </h2>
      <p class="secret-btns-box">
        <a class="secret-btns" href="/submit">Share a secret</a>
        <a class="secret-btns" href="/logout">logout</a>
      </p>
    </div>

    <h2>Comunity Secrets</h2>
    <% if(!userWithSecret || userWithSecret.length===0) { %>
      <p>No secrets yet. Be the first</p>
      <%} else { %>
        <ul class="secretsList">
          <% userWithSecret.forEach(u=> { %>
            <% u.secrets.forEach(s=> { %>
              <li class="secretItem">
                <p class="secretText">
                  <%= s %>
                </p>
                <div class="secretMeta">by <%= u.name %>
                </div>

                <% if(u._id.toString() === user.id.toString()) { %>
                  <form action="/delete" method="POST" class="delete-form">
                    <input type="hidden" name="secret" value="<%= s %>">
                    <button type="submit" class="delete-btn">&times;</i></button>  
                  </form>
                  <% } %>
              </li>
              <% }) %>
                <% }) %>
        </ul>
        <% } %>
  </section>

  <%- include('partials/footer') %>